# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=1.4.0=pypi_0
accelerate=0.23.0=pypi_0
aiofiles=23.2.1=pypi_0
aiohttp=3.8.5=pypi_0
aiosignal=1.3.1=pypi_0
alabaster=0.7.13=pypi_0
alembic=1.12.0=pypi_0
altair=5.0.1=pypi_0
annotated-types=0.5.0=pypi_0
antlr4-python3-runtime=4.8=pypi_0
anyio=3.7.1=pypi_0
appdirs=1.4.4=pypi_0
apptools=5.2.1=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
array-record=0.4.1=pypi_0
arrow=1.2.3=pypi_0
asteroid-filterbanks=0.4.0=pypi_0
asttokens=2.2.1=pypi_0
astunparse=1.6.3=pypi_0
async-lru=2.0.4=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.1.0=pypi_0
audiolm-pytorch=1.4.1=pypi_0
audioread=3.0.0=pypi_0
autofaiss=2.15.8=pypi_0
av=10.0.0=pypi_0
babel=2.12.1=pypi_0
backcall=0.2.0=pypi_0
backoff=2.2.1=pypi_0
beartype=0.15.0=pypi_0
beautifulsoup4=4.12.2=pypi_0
bert=2.2.0=pypi_0
bert-for-tf2=0.14.9=pypi_0
bert-score=0.3.13=pypi_0
bitarray=2.8.1=pypi_0
bitsandbytes=0.41.1=pypi_0
black=23.9.1=pypi_0
bleach=6.0.0=pypi_0
blessed=1.20.0=pypi_0
boto3=1.28.62=pypi_0
botocore=1.31.62=pypi_0
braceexpand=0.1.7=pypi_0
brotli=1.0.9=pypi_0
bzip2=1.0.8=h7b6447c_0
ca-certificates=2023.7.22=hbcca054_0
cachetools=5.3.1=pypi_0
cartopy=0.22.0=pypi_0
certifi=2023.7.22=pypi_0
cffi=1.15.1=pypi_0
charset-normalizer=3.2.0=pypi_0
click=8.1.7=pypi_0
cmaes=0.10.0=pypi_0
cmake=3.27.4.1=pypi_0
colorama=0.4.6=pypi_0
colorlog=6.7.0=pypi_0
comm=0.1.4=pypi_0
configobj=5.0.8=pypi_0
contourpy=1.1.0=pypi_0
croniter=1.4.1=pypi_0
curio=1.6=pypi_0
cycler=0.11.0=pypi_0
cython=3.0.2=pypi_0
datasets=2.12.0=pypi_0
dateutils=0.6.12=pypi_0
debugpy=1.6.7.post1=pypi_0
decorator=4.4.2=pypi_0
decord=0.6.0=pypi_0
deepdiff=6.4.1=pypi_0
deepspeed=0.9.3=pypi_0
defusedxml=0.7.1=pypi_0
diffusers=0.21.4=pypi_0
dill=0.3.6=pypi_0
dm-tree=0.1.8=pypi_0
docker-pycreds=0.4.0=pypi_0
docopt=0.6.2=pypi_0
docrepr=0.2.0=pypi_0
document-utils=1.8.1=pypi_0
docutils=0.18.1=pypi_0
easydict=1.10=pypi_0
einops=0.6.1=pypi_0
ema-pytorch=0.2.3=pypi_0
embedding-reader=1.5.1=pypi_0
encodec=0.1.1=pypi_0
entrypoints=0.4=pypi_0
envisage=7.0.3=pypi_0
erlastic=2.0.0=pypi_0
etils=1.5.0=pypi_0
eva-decord=0.6.1=pypi_0
exceptiongroup=1.1.3=pypi_0
executing=1.2.0=pypi_0
fadtk=1.0.0=pypi_0
fairscale=0.4.13=pypi_0
fairseq=0.12.2=pypi_0
faiss-cpu=1.7.4=pypi_0
fastapi=0.101.1=pypi_0
fastjsonschema=2.18.0=pypi_0
ffmpeg=1.4=pypi_0
ffmpy=0.3.1=pypi_0
ffprobe=0.5=pypi_0
filelock=3.12.2=pypi_0
fire=0.4.0=pypi_0
flatbuffers=23.5.26=pypi_0
fonttools=4.42.1=pypi_0
fqdn=1.5.1=pypi_0
frechet-audio-distance=0.2.0=pypi_0
freetype=2.12.1=h4a9f257_0
frozenlist=1.4.0=pypi_0
fschat=0.1.10=pypi_0
fsspec=2023.6.0=pypi_0
ftfy=6.1.1=pypi_0
fuzzywuzzy=0.18.0=pypi_0
fvcore=0.1.5.post20221221=pypi_0
gast=0.4.0=pypi_0
gdown=4.7.1=pypi_0
gettext=0.21.0=h39681ba_1
gin-config=0.5.0=pypi_0
gitdb=4.0.10=pypi_0
gitpython=3.1.32=pypi_0
gmp=6.2.1=h295c915_3
gnutls=3.6.15=he1e5248_0
google-api-core=2.12.0=pypi_0
google-api-python-client=2.101.0=pypi_0
google-auth=2.22.0=pypi_0
google-auth-httplib2=0.1.1=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
google-pasta=0.2.0=pypi_0
googleapis-common-protos=1.60.0=pypi_0
gradio=3.45.0=pypi_0
gradio-client=0.5.2=pypi_0
greenlet=2.0.2=pypi_0
grpcio=1.57.0=pypi_0
h11=0.14.0=pypi_0
h5py=3.9.0=pypi_0
hear21passt=0.0.16=dev_0
hjson=3.1.0=pypi_0
httpcore=0.17.3=pypi_0
httplib2=0.22.0=pypi_0
httpx=0.24.1=pypi_0
huggingface-hub=0.19.4=pypi_0
hydra-core=1.0.7=pypi_0
hyperpyyaml=1.2.1=pypi_0
hypy-utils=1.0.22=pypi_0
icu=58.2=hf484d3e_1000
idna=3.4=pypi_0
image-similarity-measures=0.3.6=pypi_0
imagebind=0.1.0=pypi_0
imageio=2.31.1=pypi_0
imageio-ffmpeg=0.4.8=pypi_0
imagesize=1.4.1=pypi_0
immutabledict=3.0.0=pypi_0
importlib-metadata=6.8.0=pypi_0
importlib-resources=6.0.1=pypi_0
iniconfig=2.0.0=pypi_0
inquirer=3.1.3=pypi_0
iopath=0.1.10=pypi_0
ipdb=0.13.13=pypi_0
ipykernel=6.25.1=pypi_0
ipyparallel=8.6.1=pypi_0
ipython=8.15.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=8.1.0=pypi_0
isoduration=20.11.0=pypi_0
itsdangerous=2.1.2=pypi_0
jedi=0.19.0=pypi_0
jinja2=3.1.2=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.3.1=pypi_0
json5=0.9.14=pypi_0
jsonpointer=2.4=pypi_0
jsonschema=4.19.0=pypi_0
jsonschema-specifications=2023.7.1=pypi_0
julius=0.2.7=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=8.3.0=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-contrib-core=0.4.2=pypi_0
jupyter-contrib-nbextensions=0.7.0=pypi_0
jupyter-core=5.3.1=pypi_0
jupyter-events=0.7.0=pypi_0
jupyter-highlight-selected-word=0.2.0=pypi_0
jupyter-lsp=2.2.0=pypi_0
jupyter-nbextensions-configurator=0.6.3=pypi_0
jupyter-server=2.7.2=pypi_0
jupyter-server-terminals=0.4.4=pypi_0
jupyterlab=4.0.5=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-server=2.24.0=pypi_0
jupyterlab-widgets=3.0.8=pypi_0
kaggle=1.5.16=pypi_0
kapre=0.3.7=pypi_0
keras=2.13.1=pypi_0
kiwisolver=1.4.4=pypi_0
knn-cuda=0.2=pypi_0
laion-clap=1.1.2=pypi_0
lame=3.100=h7b6447c_0
latex2mathml=3.76.0=pypi_0
lazy-loader=0.3=pypi_0
ld_impl_linux-64=2.38=h1181459_1
levenshtein=0.22.0=pypi_0
libclang=16.0.6=pypi_0
libffi=3.4.4=h6a678d5_0
libflac=1.3.4=h27087fc_0
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libidn2=2.3.4=h5eee18b_0
libogg=1.3.4=h7f98852_1
libopus=1.3.1=h7b6447c_0
libpng=1.6.39=h5eee18b_0
librosa=0.10.1=pypi_0
libsndfile=1.0.31=h9c3ff4c_1
libstdcxx-ng=11.2.0=h1234567_1
libtasn1=4.19.0=h5eee18b_0
libunistring=0.9.10=h27cfd23_0
libvorbis=1.3.7=h9c3ff4c_0
libvpx=1.7.0=h439df22_0
libxml2=2.10.4=hcbfbd50_0
lightning=2.0.8=pypi_0
lightning-cloud=0.5.37=pypi_0
lightning-utilities=0.9.0=pypi_0
linkify-it-py=2.0.2=pypi_0
lion-pytorch=0.1.2=pypi_0
lit=16.0.6=pypi_0
llvmlite=0.41.1=pypi_0
local-attention=1.8.6=pypi_0
lxml=4.9.3=pypi_0
mako=1.2.4=pypi_0
markdown=3.4.4=pypi_0
markdown-it-py=2.2.0=pypi_0
markdown2=2.4.10=pypi_0
markupsafe=2.1.3=pypi_0
matplotlib=3.7.1=pypi_0
matplotlib-inline=0.1.6=pypi_0
mayavi=4.8.1=pypi_0
mdit-py-plugins=0.3.3=pypi_0
mdtex2html=1.2.0=pypi_0
mdurl=0.1.2=pypi_0
mistune=3.0.1=pypi_0
moviepy=1.0.3=pypi_0
mpmath=1.3.0=pypi_0
msclap=1.3.3=pypi_0
msgpack=1.0.5=pypi_0
multidict=6.0.4=pypi_0
multiprocess=0.70.14=pypi_0
musiclm-pytorch=0.2.8=pypi_0
mutagen=1.46.0=pypi_0
mypy-extensions=1.0.0=pypi_0
nbclient=0.8.0=pypi_0
nbconvert=7.7.4=pypi_0
nbformat=5.9.2=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.5.7=pypi_0
nettle=3.7.3=hbbd107a_1
networkx=3.1=pypi_0
ninja=1.11.1=pypi_0
nltk=3.8.1=pypi_0
nnaudio=0.3.2=pypi_0
notebook=6.4.12=pypi_0
notebook-shim=0.2.3=pypi_0
numba=0.58.1=pypi_0
numpy=1.23.4=pypi_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cublas-cu12=12.1.3.1=pypi_0
nvidia-cuda-cupti-cu11=11.7.101=pypi_0
nvidia-cuda-cupti-cu12=12.1.105=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-nvrtc-cu12=12.1.105=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu12=12.1.105=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
nvidia-cudnn-cu12=8.9.2.26=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-cufft-cu12=11.0.2.54=pypi_0
nvidia-curand-cu11=10.2.10.91=pypi_0
nvidia-curand-cu12=10.3.2.106=pypi_0
nvidia-cusolver-cu11=11.4.0.1=pypi_0
nvidia-cusolver-cu12=11.4.5.107=pypi_0
nvidia-cusparse-cu11=11.7.4.91=pypi_0
nvidia-cusparse-cu12=12.1.0.106=pypi_0
nvidia-nccl-cu11=2.14.3=pypi_0
nvidia-nccl-cu12=2.18.1=pypi_0
nvidia-nvjitlink-cu12=12.3.52=pypi_0
nvidia-nvtx-cu11=11.7.91=pypi_0
nvidia-nvtx-cu12=12.1.105=pypi_0
oauth2client=4.1.3=pypi_0
oauthlib=3.2.2=pypi_0
omegaconf=2.0.6=pypi_0
opencv-python=4.7.0.72=pypi_0
opencv-python-headless=4.8.0.76=pypi_0
openh264=2.1.1=h4ff587b_0
openl3=0.4.2=pypi_0
openssl=3.0.10=h7f8727e_2
opt-einsum=3.3.0=pypi_0
optuna=3.3.0=pypi_0
ordered-set=4.1.0=pypi_0
orjson=3.9.5=pypi_0
outcome=1.2.0=pypi_0
overrides=7.4.0=pypi_0
packaging=23.1=pypi_0
pandas=2.1.2=pypi_0
pandocfilters=1.5.0=pypi_0
parameterized=0.9.0=pypi_0
params-flow=0.8.2=pypi_0
parso=0.8.3=pypi_0
pathspec=0.11.2=pypi_0
pathtools=0.1.2=pypi_0
peft=0.3.0=pypi_0
pexpect=4.8.0=pypi_0
phasepack=1.5=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.5.0=pypi_0
pip=23.2.1=py39h06a4308_0
platformdirs=3.10.0=pypi_0
plotly=5.15.0=pypi_0
pluggy=1.3.0=pypi_0
pooch=1.7.0=pypi_0
portalocker=2.7.0=pypi_0
primepy=1.3=pypi_0
proglog=0.1.10=pypi_0
progressbar=2.5=pypi_0
prometheus-client=0.17.1=pypi_0
promise=2.3=pypi_0
prompt-toolkit=3.0.39=pypi_0
protobuf=3.20.3=pypi_0
psutil=5.9.5=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
py=1.11.0=pypi_0
py-cpuinfo=9.0.0=pypi_0
py-params=0.10.2=pypi_0
pyannote-audio=2.1.1=pypi_0
pyannote-core=5.0.0=pypi_0
pyannote-database=5.0.1=pypi_0
pyannote-metrics=3.2.1=pypi_0
pyannote-pipeline=2.3=pypi_0
pyarrow=12.0.1=pypi_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pycocotools=2.0.7=pypi_0
pycparser=2.21=pypi_0
pycryptodomex=3.18.0=pypi_0
pydantic=1.10.13=pypi_0
pydantic-core=2.4.0=pypi_0
pydub=0.25.1=pypi_0
pyface=8.0.0=pypi_0
pygments=2.16.1=pypi_0
pyjwt=2.8.0=pypi_0
pynvml=11.5.0=pypi_0
pyparsing=3.0.9=pypi_0
pyproj=3.6.0=pypi_0
pyshp=2.3.1=pypi_0
pysocks=1.7.1=pypi_0
pytest=6.2.5=pypi_0
pytest-asyncio=0.20.3=pypi_0
python=3.9.17=h955ad1f_0
python-dateutil=2.8.2=pypi_0
python-editor=1.0.4=pypi_0
python-json-logger=2.0.7=pypi_0
python-levenshtein=0.22.0=pypi_0
python-multipart=0.0.6=pypi_0
python-slugify=8.0.1=pypi_0
pytorch-lightning=2.0.8=pypi_0
pytorch-metric-learning=2.3.0=pypi_0
pytorch-transformers=1.1.0=pypi_0
pytorchvideo=0.1.5=pypi_0
pytz=2023.3=pypi_0
pywavelets=1.4.1=pypi_0
pyyaml=6.0.1=pypi_0
pyzmq=25.1.1=pypi_0
qtconsole=5.4.3=pypi_0
qtpy=2.3.1=pypi_0
rapidfuzz=3.3.1=pypi_0
readchar=4.0.5=pypi_0
readline=8.2=h5eee18b_0
referencing=0.30.2=pypi_0
regex=2023.6.3=pypi_0
requests=2.31.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
resampy=0.4.2=pypi_0
responses=0.18.0=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rich=13.5.2=pypi_0
rouge-score=0.1.2=pypi_0
rpds-py=0.9.2=pypi_0
rsa=4.9=pypi_0
ruamel-yaml=0.17.28=pypi_0
ruamel-yaml-clib=0.2.7=pypi_0
s3transfer=0.7.0=pypi_0
sacrebleu=2.3.1=pypi_0
safetensors=0.3.2=pypi_0
scikit-image=0.20.0=pypi_0
scikit-learn=1.3.2=pypi_0
scipy=1.10.1=pypi_0
semantic-text-similarity=1.0.3=pypi_0
semantic-version=2.10.0=pypi_0
semver=3.0.1=pypi_0
send2trash=1.8.2=pypi_0
sentencepiece=0.1.99=pypi_0
sentry-sdk=1.29.2=pypi_0
seqeval=1.2.2=pypi_0
setproctitle=1.3.2=pypi_0
setuptools=68.0.0=py39h06a4308_0
shapely=2.0.1=pypi_0
shellingham=1.5.3=pypi_0
six=1.16.0=pypi_0
smmap=5.0.0=pypi_0
sniffio=1.3.0=pypi_0
snowballstemmer=2.2.0=pypi_0
sortedcontainers=2.4.0=pypi_0
soundfile=0.12.1=pypi_0
soupsieve=2.4.1=pypi_0
soxr=0.3.6=pypi_0
speechbrain=0.5.15=pypi_0
sphinx=7.2.5=pypi_0
sphinx-rtd-theme=1.3.0=pypi_0
sphinxcontrib-applehelp=1.0.7=pypi_0
sphinxcontrib-devhelp=1.0.5=pypi_0
sphinxcontrib-htmlhelp=2.0.4=pypi_0
sphinxcontrib-jquery=4.1=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-qthelp=1.0.6=pypi_0
sphinxcontrib-serializinghtml=1.1.9=pypi_0
sqlalchemy=2.0.20=pypi_0
sqlite=3.41.2=h5eee18b_0
stack-data=0.6.2=pypi_0
starlette=0.27.0=pypi_0
starsessions=1.3.0=pypi_0
strsim=0.0.3=pypi_0
svgwrite=1.4.3=pypi_0
sympy=1.12=pypi_0
tabulate=0.9.0=pypi_0
tenacity=8.2.3=pypi_0
tensorboard=2.12.3=pypi_0
tensorboard-data-server=0.7.1=pypi_0
tensorboardx=2.6.2.2=pypi_0
tensorflow=2.13.0=pypi_0
tensorflow-datasets=4.9.3=pypi_0
tensorflow-estimator=2.13.0=pypi_0
tensorflow-hub=0.14.0=pypi_0
tensorflow-io-gcs-filesystem=0.33.0=pypi_0
tensorflow-metadata=1.14.0=pypi_0
tensorflow-model-optimization=0.7.5=pypi_0
tensorflow-text=2.13.0=pypi_0
termcolor=2.3.0=pypi_0
terminado=0.17.1=pypi_0
testpath=0.6.0=pypi_0
text-unidecode=1.3=pypi_0
tf-models-official=2.13.2=pypi_0
tf-slim=1.1.0=pypi_0
threadpoolctl=3.2.0=pypi_0
tifffile=2023.8.25=pypi_0
timm=0.4.12=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.15.0=pypi_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
toolz=0.12.0=pypi_0
torch=2.1.0=pypi_0
torch-audiomentations=0.11.0=pypi_0
torch-pitch-shift=1.2.4=pypi_0
torchaudio=2.1.0=pypi_0
torchlibrosa=0.1.0=pypi_0
torchmetrics=1.1.1=pypi_0
torchvision=0.16.0=pypi_0
tornado=6.3.3=pypi_0
tqdm=4.66.1=pypi_0
traitlets=5.9.0=pypi_0
traits=6.4.2=pypi_0
traitsui=8.0.0=pypi_0
transformers=4.35.2=pypi_0
trio=0.22.2=pypi_0
triton=2.1.0=pypi_0
typer=0.9.0=pypi_0
types-regex=2023.8.8.0=pypi_0
typing-extensions=4.5.0=pypi_0
tzdata=2023.3=pypi_0
uc-micro-py=1.0.2=pypi_0
univoc=0.2.1=pypi_0
uri-template=1.3.0=pypi_0
uritemplate=4.1.1=pypi_0
urllib3=1.26.16=pypi_0
uvicorn=0.23.2=pypi_0
vector-quantize-pytorch=1.7.1=pypi_0
vectorhub=1.4.1=pypi_0
vtk=9.2.6=pypi_0
wandb=0.15.8=pypi_0
wav2clip=0.1.0=pypi_0
wavedrom=2.0.3.post3=pypi_0
wavenet-vocoder=0.1.1=pypi_0
wcwidth=0.2.6=pypi_0
webcolors=1.13=pypi_0
webdataset=0.2.48=pypi_0
webencodings=0.5.1=pypi_0
webrtcvad=2.0.10=pypi_0
websocket-client=1.6.1=pypi_0
websockets=11.0.3=pypi_0
werkzeug=2.3.7=pypi_0
wget=3.2=pypi_0
wheel=0.41.3=pypi_0
widgetsnbextension=4.0.8=pypi_0
wrapt=1.15.0=pypi_0
x-clip=0.12.9=pypi_0
x264=1!157.20191217=h7b6447c_0
xxhash=3.3.0=pypi_0
xz=5.4.2=h5eee18b_0
yacs=0.1.8=pypi_0
yarl=1.9.2=pypi_0
yt-dlp=2023.7.6=pypi_0
zipp=3.16.2=pypi_0
zlib=1.2.13=h5eee18b_0
